.error {
    color: red;
}

h1 {
    text-align: left;
    display: inline;
    margin-right: 20px;
}

.form-inline{
    display: inline;
}

.right-space {
    margin-right: 20px;
}

@media (max-width: 768px) {
    img {
      width: 200px;
      height: 50%;
    }
    div{
        font-size: 0.5em;
    }
    .button{
        padding: 0.25em 0.75em;
        font-size: 0.5em;
        border: 1px solid;
    
      }
    .type {
        font-size: 0.8em;
    }
  }
