
<div class="grid-container-one">
  <h2>Classroom Task Manager</h2>

  
  <div *ngIf="beginApplication">
    <input type="button"  class="right-space button" value="Add a Student" (click)="toggleCards(1)">
    <input type="button"  class="right-space button" value="Critical Tasks" (click)="toggleCards(2)">
    <input type="button" class="right-space button" value="About the Author" (click)="toggleCards(3)">
    <input type="button" class="right-space button" value="Save Work" (click)="saveUser('save')">
  </div>  
  <div *ngIf="beginApplication" class="status">
    <img src="./assets/id-card.png" class="profile-icon"> <span class="right-space">Welcome {{teacherName}}</span> 
    <input type="button" value="Logout" (click)="logout()" class="logout button">
  </div>
  <div *ngIf="!beginApplication">
    
      <div *ngIf="createAccount">
        <form [formGroup] ="createAccForm" (ngSubmit)="createNewAccount()" class="loginform">
          <label for="createUser">Select Username: </label>
          <input type="text" id="createUser" name="createUser" class="right-space type " formControlName="createUser">
          <input type="submit" value="Create User" class="right-space login button" (click)="addUser()">
          <input type="button" value="Exit" class="right-space login button" (click)="toggleCreateAccount(2)">
        </form>
      </div>
    
      <div *ngIf="!createAccount">
        <form [formGroup] ="loginForm" (ngSubmit)="validateLogin()" class="loginform">
          <label for="username">Username: </label>
          <input type="text" id="username" name="username" class="right-space type " formControlName="username">
        
          <label for="password">Password: </label>
          <input type="text" id="password" name="password" class="right-space type " formControlName="password">
          <input type="submit" value="Login" class="right-space login button">
          <input type="button" class="create_new_account button" value="Create Account" (click)="toggleCreateAccount(1)">
        </form>
      </div>
       
        

  </div>
        
         
 </div>

 <hr class="accessory">           
   
    <div *ngIf="beginApplication" class="left-margin right-margin">
        <app-student-roster class="task-roster" [addStudentOn] = addStudentOn 
        [criticalActivitiesOn] = criticalActivitiesOn [aboutMeOn] = aboutMeOn [welcomeMessage] = welcomeMessage
        [studentList] = studentList [nameExists] = nameExists [taskExists]= taskExists [displayStudentIcons]=displayStudentIcons
       [displayTaskIcons] = displayTaskIcons [displayTasksAll] = displayTasksAll
       [todaysDate] = todaysDate [todaysDateDisplay] = todaysDateDisplay></app-student-roster>   
      </div>

  


<div *ngIf="!beginApplication" class="form-display warning-text"> 
  <p>*I am currently testing this deployment to Github Pages. Because it requires a database, login is not functional yet.*</p>
  
  <p>Please log in with these credentials: username "Teacher" and password "123".</p>
  <p>This app is intended for classroom teachers who want to better manage their classroom students and the tasks associated with them.</p>
  <p>Please note, due to FERPA (Family Education Rights and Privacy Act) it is crucial that you<strong> do not enter in any real student information.</strong>
    <br>You may use first names or aliases if two students with the same name exist in your class. Read more about FERPA at <a href="https://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html" class="ferpa" target="_blank">this link</a>.</p>
  <p>Understand that this is a mock app made by a student/prospective junior engineer to demonstrate Angular/Springboot competencies. Data security is not guaranteed.</p>
</div>
