.error {
    color: red;
}

.warning-text{
    background-color:#222E50;
    padding: 50px;
    color: white;
    border-radius: 10px;
    
}

.ferpa {
    color: #FCCB06;
}

h1 {
  align-items: start;
  margin: 0px;

}

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
  }

.accessory {
    height: 6px;
    background-image: radial-gradient(
      closest-side,
      hsla(0, 0%, 50%, 1.0),
      hsla(0, 0%, 50%, 0) 100%);
    position: relative;
  }


.grid-container-one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;

}

.right-space {
    margin-right: 20px;
}






