#space-between-tasks{
    margin-bottom: 10px;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

table {
    width: 100%; 
}

.nodot {
    list-style-type: none;
}

.icons {
    width: 3.0em;
    height: 3.0em;
    margin-left: 10px;
    margin-top: 10px;
}

.grid-container-two {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  
}

.flush-left{
  text-align: left;
}


.form-display {
  background-color: white;
  padding: 50px;
  border-radius: 10%;
  box-shadow: 5px 5px 5px;
  margin-left: 20px;
  margin-right: 20px;
}

ul {
    list-style-type: none;
}

.flex-container-three {
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: green;
}
.container {
    
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
 
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }


  @media only screen and (max-width: 600px) {
  
    .form-display {
      background-color: white;
      padding: 10px;
      border-radius: 10%;
      box-shadow: 5px 5px 5px;
      margin-right: 2px;
      
 
    }
    .flush-mid{
      align-items: center;
    }
    .grid-container-two {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: start;
      
    }

    .icons {
      width: 1.2em;
      height: 1.2em;
      margin-left: 5px;
      margin-top: 5px;
  }
}



