#space-between-tasks{
    margin-bottom: 10px;
}

.error{
  color: red;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

table {
    
    width: 100%; 
    text-align: center;

}

.left {
  text-align: left;
}


.push-right {
  margin-right: 20px;
}

.nodot {
    list-style-type: none;
}





.student-name{
  font-size: 1.4em;
  font-weight: 400;
  
  
}


.reduced-width-student {
  width: 33%;
}
.reduced-width-task {
  width: 40%;
}

.half {
  width: 50%;
}

.create-student {
  max-width:fit-content;
}

.updown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.up{
margin-bottom: 40px;
}

.down{
  margin-top: 40px;
}



.updown > input:hover {
  background-color: yellow;
  border-radius: 30%;
}


.aboutme {
  max-width: 400px;
}

.aboutme > img {
  height: auto;
  width: 50%;
  border-radius: 10%;
}

.aboutme > a {
  margin-right: 10px;
}
.grid-container-two {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  
}






.critical {
  text-align: center;
}

ul {
    list-style-type: none;
}

.flex-container-three {
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.container {
    
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    
  
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  


  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: solid black;
    border-radius: 10%;
  }
  

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
 
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .centercontent {
    text-align: center;
  }

  .form-display {
    background-color: white;
    width: 30%;
    padding: 50px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px;
  }

  .star:hover{
    display: inline-block;
    animation: rotation 5s infinite linear;
  }
  
  @keyframes rotation {
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .th-head {
    
    border-radius: 30% 30% 0% 0%;
    margin-left: 10px;
    font-size: 0.6em;
    padding: 5px;
    letter-spacing:0.5px;
    color: #EDF7F6;
    text-shadow: none;
  }

  .button {
      
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
  }



  .check-box{
    width: 20px;
    height: 20px;
  }




@media only screen and (max-width: 1500px) {

 
}
@media only screen and (max-width: 1200px) {
 

}

@media only screen and (max-width: 1000px) {
  table {
    text-align: center;

}




}

@media only screen and (max-width: 768px) {

 
  .button {
      
    font-size: 8px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
  }


  .flush-mid{
    align-items: center;
  }

  .aboutme > img {
    height: auto;
    width: 40%;
    border-radius: 10%;
  }


.form-display {
  background-color: white;
  width: 50%;
  padding: 20px;
  border-radius: 10%;
  box-shadow: 5px 5px 5px;
  text-align: left;
}




}




@media only screen and (max-width: 500px) {
  .container {
    
    position: relative;
    padding-left: 5px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: px;
    user-select: none;
  }
  .half {
    width: 80%;
  }
  .check-box{
    width: 6px;
    height: 6px;
  }
  .aboutme > img {
    height: auto;
    width: 30%;
    border-radius: 10%;
  }
  .type {
    padding: 1px 3px;
    font-size: 5px;
    font-weight: 200;
    line-height: 0.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
}

.addTask{

  padding: 1px 3px;
  font-size: 5px;
  font-weight: 200;
  line-height: 2.0;

}

.form-display {
  background-color: white;
  width: 50%;
  padding: 20px;
  border-radius: 10%;
  box-shadow: 5px 5px 5px;
  text-align: left;
}


.button {
  font-size: 5px;

  margin: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px 1px;
  color: #000;
  cursor: pointer;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 5px;
  max-width: 100%;
  height: auto;
  padding: 3px;
}

.th-head > .icons-small {
  display: none;
 }

}

