
<strong>Today is {{ todaysDateDisplay }}</strong><br><br>
<div class="grid-container-two">
    <div class="form-display create-student" *ngIf="addStudentOn">
  
        
            <div>
            <h3>New Student</h3>
            </div>
        <div>
            
                <form [formGroup] ="studentForm" (ngSubmit)="addStudent()" >
                <label for="fname">Student Name</label><br>
                <input type="text" id="fname" class="type" name="fname" formControlName="first_name"><br>
                <div *ngIf="!nameExists" class="error">Student must have a name</div>
                <label for="task">Task</label><br>
                <input type="text" id="task" name="task" formControlName="task" class="type"><br>
                
                <br>
                <input type="submit" class="submit button" value="Submit">
                </form>
            
        </div>
    </div>
    
    <div>
      
    </div>
    <div class="form-display critical" *ngIf="criticalActivitiesOn">
      <h3>Critical Tasks</h3>
      <div *ngIf="studentsWithCriticalTasks.length <= 0">Nothing. Good job!</div>
    <div *ngIf="studentsWithCriticalTasks.length > 0">
        <table class="left">
            <tr *ngFor="let student of studentsWithCriticalTasks">
                <td><u>{{student.name}}</u></td>
                <td><ol><li *ngFor="let task of student.criticalTasks">{{task}}</li></ol></td>
            </tr>
            
        </table>
       
    </div><br>
    <div><button (click)="dayMinusOne()" class="button">Day -1</button><button (click)="dayPlusOne()" class="button">Day +1</button></div>
    </div> 
    <div class="form-display aboutme" *ngIf="aboutMeOn">
        <img src="./assets/profile.jpg">
      <h3>Michael Miller</h3>
      <p>Entry level Software Engineer looking for internships and junior level work.</p>
        <a href="https://www.linkedin.com/in/michaelpmiller89/" target="_blank">LinkedIn</a>
        <a href="https://github.com/mmiller89" target="_blank">GitHub</a>
        <a href="https://s3.amazonaws.com/handshake.production/documents/documents/044/859/648/original/MichaelMiller_Resume.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA2HSNSGACXF6KKT2H%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T002103Z&X-Amz-Expires=10&X-Amz-SignedHeaders=host&X-Amz-Signature=626b64ddda90cf6525ff7b9776e966f9c978cdf20dd2114496c4bdc01bac688b" target="_blank">Resume</a>
    </div> 
  </div>


<div>
    <br>
    <table border = "3" *ngIf="studentList.length > 0" class="blue flush-left">
        <thead>
            <tr>
                <th>Name<br> <span class="th-head">Hide Icons<input type="checkbox" (click)="checkShowStudentIcon($event)" class="check-box"></span>
                    <span class="th-head">
                        <select #sortstudent name="sortstudent" id="sortstudent" class="selector" (change)="filterStudentList(sortstudent.value)">
                            <option  value="Select" selected disabled>Filter</option>
                            <option value="alphabetically">Alphabetically</option> 
                            <option value="highest">Amount of Tasks(Highest)</option> 
                            <option value="lowest">Amount of Tasks(Lowest)</option> 
                            <option value="starred">Starred</option> 
                        </select>
                    </span>
                </th>
                <th>Task <br>
                    <span class="th-head">Hide Icons<input type="checkbox" (click)="checkShowTaskIcon($event)" class="check-box"></span>
                    <span class="th-head">
                        <select #sorttask name="sorttask" id="sorttask" class="selector" (change)="filterTaskList(sorttask.value)">
                            <option selected="selected" value="No Change" selected disabled>Filter</option>
                            <option value="alphabetically">Alphabetically</option> 
                            <option value="highest">Closest Due Date</option>
                        </select>
                    </span>
                    
                                                                                 
                    
                </th>
                <th>Task Manager<br>
                    <span class="th-head">Hide Frequency<input type="checkbox" (click)="checkShowFrequencyIcon($event)" class="check-box">
                        <input type="image" src="./assets/frequency.png" class="icons-small" title="Check Frequency">
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of studentList">
                
                <td [ngSwitch]="student.displayEditStudent" class="centercontent reduced-width-student">
               
                    <div *ngSwitchCase="0" [ngSwitch]="displayStudentIcons">
                        <span class="student-name">{{ student.name }}<br></span>
                        
                        <div *ngSwitchCase="true">
                            <img *ngIf="!student.starChecked "src="./assets/white-star.png" class="icons star" (click)="student.switchStar()">
                            <img *ngIf="student.starChecked "src="./assets/yellow-star.png" class="icons star" (click)="student.switchStar()">
                            <input type="image" src="./assets/edit.png" (click)="student.editStudentToggle(1)" class="icons" title="Edit Student">
                            <input type="image" src="./assets/delete.png" (click)="deleteStudent(student)" class="icons" title="Delete Student" >
                            <input type="image" src="./assets/add.png" (click)="student.editStudentToggle(2)" class="icons" title="Add Task To Student">
                            <div class="updown">
                                <input type="image" src="./assets/upload.png"  class="icons-small" (click)="moveUp(student)">
                                <input type="image" src="./assets/download.png" class="icons-small" (click)="moveDown(student)"> 
                            </div>   
                        </div>
                    </div>
                    <div *ngSwitchCase="1">
                        <form [formGroup] ="edit_student_name" (ngSubmit)="sendEditedStudentName(student)">
                            <input type="text" id="edit_student_name" name="edit_student_name" placeholder="{{student.name}}" formControlName="studentValueEntered" class="type">
                            <br>
                            <input type="image" src="./assets/check.png" class="icons" title="Change Name">
                            <input type="image" src="./assets/cancel.png" (click)="goBackStudentName(student)" class="icons" title="Cancel Edit">
                        </form> 
                    </div>
                    <div *ngSwitchCase="2">{{ student.name }} 
                        <form [formGroup] ="add_task" (ngSubmit)="sendAddTask(student)">
                            <textarea rows="3" columns = "50" class="addTask" id="add_task" name="add_task"  placeholder="What's the task?" formControlName="taskValueEntered"></textarea>
                            <br>
                            <input type="image" src="./assets/check.png" class="icons" title="Add Task">
                            <input type="image" src="./assets/cancel.png" (click)="student.editStudentToggle(0)" class="icons" title="Cancel Edit">
                        </form>
                    </div>
                </td>
                
                    <td *ngIf="student.tasks.length > 0" class="reduced-width-task">
                        
                    <ul id="space-between-tasks" *ngFor="let task of student.tasks" [ngSwitch]="task.displayEditTask">
                        
                        <li *ngSwitchCase="0" [ngSwitch]="displayTaskIcons">{{ task.taskName }}<br>
                            <div *ngSwitchCase="true">
                                <input type="image" src="./assets/edit.png" (click)="task.editTaskToggle(1)" class="icons" title="Edit Task">
                                <input type="image" src="./assets/delete.png" (click)="student.deleteTask(task)" class="icons" title="Delete Task">
                                <input type="image" src="./assets/taskadd.png" (click)="task.editFrequencyToggle(1)" class="icons" title="Setup Task Manager">
                            </div>
                        </li>
                        
                        <li *ngSwitchCase="1">
                            <form [formGroup] ="edit_task_name" (ngSubmit)="sendEditedTask(student, task)">
                                <input type="text" id="edit_task" name="edit_task" placeholder="{{task.taskName}}" class="type" formControlName="valueEntered">
                                <br>
                                <input type="image" src="./assets/check.png" class="icons" title="Edit Task">
                                <input type="image" src="./assets/cancel.png" (click)="goBack(task)" class="icons" title="Cancel Edit">
                            </form> 
                                
                            </li>
                        </ul>
                        
                    </td>
                  
                     
                    <td *ngIf="student.tasks.length <= 0">Add A Task With <img src="./assets/add.png" class="icons-small"></td>
                    
                    <td *ngIf="student.tasks.length > 0">
                       
                        <ul class="nodot" id="space-between-tasks" *ngFor="let task of student.tasks" [ngSwitch]="task.displayFrequencyTask">
                            <div class="task-align">
                                <li *ngSwitchCase="0">Setup Task<img src="./assets/taskadd.png" class="icons-small"></li>
                            </div>
                            <li *ngSwitchCase="1"> 
                                    <strong>Frequency of Task </strong><br> 
                                    <select #times name="times" id="times" class="selector half" (change)="task.onSelectFrequency(times.value)">
                                        <option value="None">Select</option> 
                                        <option value="No Change">No Change</option>
                                        <option value="Once">Only Once</option> 
                                        <option value="Daily">Once A Day (Weekdays Only)</option> 
                                        <option value="Two Days">Every Other Day (Weekdays Only)</option> 
                                        <option value="Weekly">Once A Week</option> 
                                        <option value="Two Weeks">Every Other week</option> 
                                        <option value="Monthly">Once A Month</option>
                                        <option value="Custom">Custom Schedule</option>
                                    </select>                                                               
                            </li>
                            
                            <li *ngSwitchCase="2">
                                <strong>Select Start Date</strong>
                                <form [formGroup] ="select_date" (ngSubmit)="logDate(task, false)">
                                    <input type="date" id="task_date" name="task_date" class="selector" formControlName="dateSelected">
                                    <input type="image" src="./assets/check.png" class="login submit icons-small" value="Submit" title="Submit Date">
                                    <input type="image" src="./assets/cancel.png" (click)="task.editFrequencyToggle(1)" class="icons-small" title="Cancel">
                                </form> 
                            </li>
                            
                               
                            
                        <li *ngSwitchCase="3">
                            
                                <span [ngSwitch]="task.displayShownFrequency">
                                    <span *ngSwitchCase="6">
                                        <span *ngIf="displayTasksAll" class="push-right"><img src="./assets/frequency.png" class="icons-smallest">{{task.frequency}}</span>
                                        
                                    </span>
                                </span>
                            
                           <strong>Due: </strong>{{ task.nextEventDisplay }}
                            
                        </li>
                               
                            <li *ngSwitchCase="4">
                                
                                <span [ngSwitch]="task.displayShownFrequency">
                                    <span *ngSwitchCase="6">
                                        <span *ngIf="displayTasksAll" class="push-right"><img src="/assets/frequency.png" class="icons-smallest">{{task.frequency}}</span>
                                    </span>
                                </span>
                                
                                <strong>Due: </strong>{{ task.nextEventDisplay }}
                            </li>
                            
                            <li *ngSwitchCase="5">
                                Schedule - Check Days 
                                <input type="image" src="/assets/check.png" (click)="logDate(task, true)" class="submit icons-small">
                                <input type="image" src="/assets/cancel.png" (click)="task.editFrequencyToggle(3)" class="icons-small" title="Cancel"><br><br>

                                <label class="container">
                                Mon 
                                <input type="checkbox" id="monday" class="check-box" name="amon" (change)="task.validateDaysChecked($event)">
                                <span class="checkmark check-box"></span> 
                                </label>

                                <label class="container">
                                Tue
                                <input type="checkbox" id="tuesday" name="btue" (change)="task.validateDaysChecked($event)">
                                <span class="checkmark check-box"></span>
                                </label>

                                <label class="container">Wed
                                <input type="checkbox" id="wednesday" name="cwed" (change)="task.validateDaysChecked($event)"> 
                                <span class="checkmark check-box"></span>
                                </label>

                                <label class="container">Thu
                                <input type="checkbox" id="thursday" name="dthu" (change)="task.validateDaysChecked($event)"> 
                                <span class="checkmark check-box"></span>
                                </label>

                                <label class="container">Fri
                                <input type="checkbox" id="friday" name="efri" (change)="task.validateDaysChecked($event)"> 
                                <span class="checkmark check-box"></span>
                                </label>

                            </li>
                        </ul>
                    </td>
                    <td *ngIf="student.tasks.length <= 0">Nothing to Display</td>
                
            </tr>
        </tbody>
    </table>
</div>

